/* css to center the element */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 20rem;
    padding-right: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card {
    margin-top: 1.7%; 
    background-color: darkgrey;
}
.card .card-header {
    color: burlywood;
}


.navbar-nav-scroll {
    overflow-y: auto;
    max-height: var(--bs-scroll-height,30vh);
}
.navbar-nav-scroll::-webkit-scrollbar {
    width: 8px;
}
.navbar-nav-scroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #6f2cd2;
}