<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Mr. Admin•Table Content</title>

	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<link rel="stylesheet" href="../static/css/gen.css">

<body class="bg-dark text-light">
	<header>
		<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #6f2cd2;">
			<a class="navbar-brand mx-3" href="#">Mr. Admin</a>
			<button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
				data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
				aria-label="Toggle navigation"></button>

			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<!-- list of link(s)/button(s) -->
				</ul>
			</div>
		</nav>
	</header>

    <link rel="stylesheet" href="../static/css/view_table_content.css">
	<main>
		<div class="container">
            <div class="row g-3">
                <div class="col-auto">
                    <a class="btn btn-warning" href="/viewer/tables%3Ffile:{{filename}}">←</a>
                </div>

                <div class="col-auto">
                    <h2>Table: {{tablename}}</h2>
                </div>
            </div>
			<div class="card">
				<div class="card-header">
					<h3>Available Content</h3>
				</div>
				<div class="card-body navbar-nav-scroll">
					<h1>
						{{table|safe}}
					</h1>
				</div>
			</div>
		</div>
	</main>


	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
		</script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
		</script>

</body>

</html>